body {
    /* background: url(../../img/bgc1.jpg) no-repeat; */
    /* background-attachment: fixed; */
    /* height: 100%; */
    /* background-color: white; */
    /* 浏览器不支持的时候显示 */
    background-image: linear-gradient(to right, rgba(231, 162, 116), rgb(225, 235, 225), rgb(152, 152, 219));
    /* 标准的语法（必须放在最后） */
    /* background-attachment: fixed; */
}

.topic-main {
    width: 870px;
    margin: 0 auto;
}

.topic-box,
.reply-box {
    /* position: relative; */
    /*  */
    display: none;
    margin: 10px auto;
    width: 870px;
    border: 1px red solid;
    height: 500px;
    /* background-color: rgb(233, 230, 230);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2); */
    /* border-radius: 5px; */
}

.user-box,
.old-topicbox,
.topic-box,
.reply-box {
    position: relative;
    background-color: rgb(233, 230, 230);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
    border-radius: 8px;
}


/* 版主信息 */

.user-box {
    position: relative;
    width: 300px;
    height: 320px;
    /* background-color: rgba(233, 230, 230, 0.8); */
    left: 200px;
}

.topmsg,
.topic-user-Icon,
.nick-name,
.old-content,
.middle-msg,
.iconc,
.sol-mk,
.pubcont {
    margin-top: 3px;
}


/* .nick-name,
.old-content,
.sol-meg,
.mk-frd,
.middle-msg,
.icon {
    border: 1px red solid;
} */

.topic-user-Icon {
    position: relative;
    left: 89px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 1px rgb(192, 180, 180) solid;
    /* box-shadow: inside 5px 5px 20px rgba(92, 81, 81, 0.2); */
}

.iconc {
    position: relative;
    left: 9px;
    top: 6px;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    border: 1px solid rgb(221, 221, 221);
}

.nick-name {
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: rgb(16, 141, 222);
}


/* 中间内容 */

.middle-fra {
    width: 100%;
    height: 50px;
    /* border: 1px rebeccapurple solid; */
    background-color: rgb(247, 245, 245);
    cursor: default;
}

.middle-msg td {
    width: 100px;
    text-align: center;
    line-height: 25px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    font-size: 14px;
}


/* .middle-msg td:hover {
    background-color: black;
} */


/* 定义按钮 */

.sol-meg,
.mk-frd,
.old-content {
    /* position: relative; */
    margin-top: 5px;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 13px;
    /* font-weight: bold; */
}


/* .sol-meg,
.mk-frd, */

.sol-meg {
    width: 125px;
    float: right;
    margin-right: 20px;
    background-color: #fba;
}

.mk-frd {
    width: 125px;
    margin-left: 20px;
    float: left;
    background-color: #fba;
}

.old-content {
    /* top: 35px; */
    width: 260px;
    margin-left: 20px;
    margin-top: 50px;
    background-color: rgb(126, 211, 197);
}

.old-topicbox {
    position: relative;
    top: 15px;
    width: 300px;
    height: 450px;
    /* 500显示5跳，50留着分页 */
}

.old-item {
    position: relative;
    margin-bottom: 5px;
    height: 65px;
    width: 300px;
    background-color: rgb(240, 182, 149);
    border-radius: 8px;
    font-size: 13px;
}


/* .old-topicbox li:hover {
    cursor: pointer;
} */


/* .old-topicbox .old-item i {} */

.old-item i {
    font-size: 12px;
}

.old-item .oltitle {
    width: 260px;
    position: absolute;
    top: 5px;
    left: 25px;
    white-space: nowrap;
    /* 不换行 */
    overflow: hidden;
    /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis;
}

.postimebx,
.viewnumbx,
.replynumbx {
    /* margin-top: 50px; */
    border: red 1px solid;
}

.postime {
    float: left;
    margin-left: 15px;
}

.op-page {
    margin-bottom: 5px;
    height: 25px;
    width: 300px;
    background-color: rgb(140, 97, 219);
    border-radius: 8px;
}